* {
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    height: 75px;
    background-color: rgb(102, 105, 228);
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 25px;
    color: white
}

ul {
    margin-left: 350px;
}

a:hover {
    background-color: red;
    color: white;
    border-radius: 5px;
}

ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img [alt] {
    opacity: 0, 04;
    background-color: bisque;
}

body  {

    background-color: bisque;
}
p {
    margin: 40px;
    font-family: serif;
    font-size: large;
}

.navbar .logo {
    margin-left: 60px;
}

h2 {
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.başlık {
    margin-top: 10px;
}

h3 {
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
}